<h1>Admin Dashboard</h1>

<br/><br/>
<table class="table table-bordered">
  </thead>
  <tbody>
    <tr>
      <td><%= link_to 'Total number of products',  [:admin, :products] %></td>
      <td><%= link_to @product_count,  [:admin, :products] %></td>
    </tr>
    <tr>
      <td><%= link_to 'Total number of categories',  [:admin, :categories] %></td>
      <td><%= link_to @category_count,  [:admin, :categories] %></td>
    </tr>
  </tbody>
</table>